/* Local fonts. No internet connection is required. */

@font-face {
  font-family:Titillium;
  src:url('../assets/fonts/TitilliumWeb-400.ttf');
  font-weight:400;
  font-display:block;
}
@font-face {
  font-family:Titillium;
  src:url('../assets/fonts/TitilliumWeb-600.ttf');
  font-weight:600;
  font-display:block;
}
@font-face {
  font-family:Titillium;
  src:url('../assets/fonts/TitilliumWeb-700.ttf');
  font-weight:700;
  font-display:block;
}
@font-face {
  font-family:Titillium;
  src:url('../assets/fonts/TitilliumWeb-900.ttf');
  font-weight:900;
  font-display:block;
}
